.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    background-color: white;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
}

.confirm {
    cursor: pointer;
    background-color: rgb(2, 216, 2);
    color: white;
}

.cancel {
    cursor: pointer;
    background-color: crimson;
    color: white;
}

.error {
    background-color: crimson;
    border-radius: 4px;
    width: 100%;
    color: wheat;
}